<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Dogs</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<h1>All Dogs</h1>
<p>You have just saved a new dog: <span th:text="${dog.name}"></span></p>
<table style="border: 1px solid black; width: 100%; text-align: left;">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Breed</th>
        <th>Service Types</th>
    </tr>

    <th:block th:each="element : ${dogs}">
        <tr>
            <td th:text="${element.id}"></td>
            <td th:text="${element.name}"></td>
            <td th:text="${element.age}"></td>

            <!-- Breed -->
            <td th:if="${element.breed == null}">No breed</td>
            <td th:if="${element.breed != null}">
                <span th:text="${element.breed.title}"></span>
            </td>

            <!-- Service types -->
            <td th:if="${element.serviceType.isEmpty()}">No types</td>
            <td th:if="${element.serviceType.size() == 1}"
                th:text="${element.serviceType.get(0).description}"></td>
            <td th:if="${element.serviceType.size() > 1}">
                <ul>
                    <th:block th:each="type : ${element.serviceType}">
                        <li th:text="${type.description}"></li>
                    </th:block>
                </ul>
            </td>
        </tr>
    </th:block>

</table>
<p><a th:href="@{/}">Register a new dog!</a></p>
</body>
</html>