<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Register a New Dog!</h1>
<form method="post" th:object="${dog}">

    <p>
        <input type="text" th:name="name">
    </p>

    <p>
        <input type="number" th:name="age">
    </p>

    <p>
        <select th:name="breed">
            <th:block th:each="breed : ${breeds}">
                <option th:value="${breed.id}" th:text="${breed.title}"></option>
            </th:block>
        </select>
    </p>

    <p>
        <th:block th:each="serviceType : ${serviceTypes}">
            <input
                    type="checkbox"
                    th:name="serviceType"
                    th:value="${serviceType.id}"
                    th:text="${serviceType.description}"><br/>
        </th:block>
    </p>

    <p>
        <input type="submit" value="Register">
    </p>

</form>

</body>
</html>